<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>
  <label>
    Title
    <input type="text" name="sub[title]" value="<%= sub.title %>">
  </label>
  <br>
  <label>
    Description <br>
    <textarea name="sub[description]" rows="8" cols="40"><%= sub.description %></textarea>
  </label>
  <br>
  <button>Submit</button>
</form>
