<h1><%= @object.title %></h1>
<h2>Moderator: <%= @object.moderator.username %> </h2>

<p>
  <%= @object.description %>
</p>
<ul>
  <% @object.posts_by_vote.each do |post| %>
    <li><%= link_to post.title, post %> - <%= post.votes.sum(:value) %></li>
  <% end %>
</ul>
