<% @object.subs.each do |sub| %>
  <%= link_to sub.title, sub_url(sub) %>
  <% end %>
<h1><%= @object.title %> <small><%= @object.url %></small></h1>
<div>
  <%= link_to "upvote", post_upvote_url(@object.id), method: :post %><br>
  <%= link_to "downvote", post_downvote_url(@object.id), method: :post %><br>
  <%= @object.votes.sum(:value) %>
</div>
<h2>by <%= @object.author.username %></h2>
<p>
  <%= @object.content %>
</p>
<section>
  <%= render 'shared/comment_section', post: @object %>
</section>
